@page "/filters"
@using SproomInbox.WebApp.Shared.Resources
@inject HttpClient Http

@if (_users != null)
{
    <section class="state-selector">
        <EditForm Model=@Document>
            <label for="filters">Filters:   </label>            
            <InputSelect id="statusSelectionUser" @bind-Value = "@UserNameFilter" @onclick="() => _needsRefreshing = true">
                @foreach (var user in _users)
                {
                <option value="@user.UserName">@user.UserName</option>
                }                                       
                </InputSelect>   
                <InputSelect id="statusSelection" @bind-Value = "@DocumentTypeFilter" @onclick="() => _needsRefreshing = true">
                        <option value=@String.Empty>Any type</option>
                        <option value="@(DocumentTypeDto.Invoice)">Invoice</option>
                        <option value="@(DocumentTypeDto.CreditNote)">CreditNote</option>                    
                </InputSelect>   
                <InputSelect id="statusSelection" @bind-Value = "@DocumentStateFilter" @onclick="() => _needsRefreshing = true">
                        <option value=@String.Empty>Any status</option>
                        <option value="@(StateDto.Received)">Received</option>
                        <option value="@(StateDto.Approved)">Approved</option>                    
                        <option value="@(StateDto.Rejected)">Rejected</option>     
                </InputSelect>   
                <button type="button" @onclick="() => _needsRefreshing = true"> Apply </button>
        </EditForm>
    </section>
}
else {
    <p><em>Loading...</em></p>
}

@if (_needsRefreshing)
{
    <Inbox UserNameFilter=@UserNameFilter DocumentTypeFilter=@DocumentTypeFilter DocumentStateFilter=@DocumentStateFilter />
    _needsRefreshing = false;
}

@code {
    bool _needsRefreshing = false;
} 
