@page "/inbox/{FilterParameters}"
@using SproomInbox.WebApp.Shared.Resources
@using System.Threading;

@if (_documents.Count != 0)
{
    <p></p>
    <p  align="center">@((PaginationMetaData.Current - 1)*PaginationMetaData.Size + 1) - @((PaginationMetaData.Current - 1)*PaginationMetaData.Size + _documents.Count()) of @PaginationMetaData.TotalCount.</p>

    <table class="table" align="left" >
        <thead class="thead-light">
            <tr>     
                <th></th>
                <th>Id</th>
                <th>Type</th>
                <th>Status</th>
                <th>Date</th>    
                <th></th>    
            </tr>
        </thead>
        <tbody>
            @foreach (var document in _documents)
            {
                <tr style="background:@(@IsDocumentFinalState(@document.State) == true ? "AliceBlue" :"GhostWhite" );"
                    @onclick="() => _documentExpanded[document.Id] = ! _documentExpanded[document.Id]">
                    <td>
                        <input class="custom-control-input" id="customCheck"
                               type="checkbox" 
                               checked=@_documentChecked[@document.Id]
                               disabled=@IsDocumentFinalState(@document.State)                           
                               @onchange="eventArgs => { OnCheckboxClicked(document.Id, eventArgs.Value); }" 
                        />
                    </td>
                    <td>@document.Id</td>
                    <td>@document.Type</td>
                    <td>@document.State</td>
                    <td>@document.CreationDate.ToShortDateString()</td>
                 </tr>
                 @if (_documentExpanded[document.Id] && document.StateHistory.Count>0)
                 {      
                       <td></td>
                       <p>Status History:</p>
                       <table class="child-grid" cellpadding=5 align="left" >
                           <thead>
                                <tr>
                                    <th>Timestamp</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var statusChange in document.StateHistory)
                                {
                                    <tr>
                                        <td>@statusChange.Timestamp</td>
                                        <td>@statusChange.State</td>
                                    </tr>
                                }
                           </tbody>
                        </table>                      
                 }
                  <tr></tr>
            }
        </tbody>
    </table>

    <p></p>

    @if (@_failedToUpdate)
    {
        <p>Failed to update one or more documents.   </p>
        _failedToUpdate = false;
    }

    <div class="span2">
        <button class="btn btn-primary border-radius: 30px alert-primary" disabled=@(@_selectedIds.Count>0 ? false : true) @onclick="OnApprove"> Approve </button>
            &nbsp;
        <button class="btn btn-primary border-radius: 30px alert-primary" disabled=@(@_selectedIds.Count>0 ? false : true) @onclick="OnReject"> Reject </button>
    </div>

    <div class="row">
    <div class="col">
        <Pagination MetaData=@PaginationMetaData Spread="2" SelectedPage=@SelectedPage />
    </div>
</div>
} 
else {
    <p></p>
    <p><em>...</em></p>
}

