@page "/inbox/{UserNameFilter}/{DocumentTypeFilter}/{DocumentStateFilter}"
@using SproomInbox.WebApp.Shared.Resources
@using System.Threading;
@inject HttpClient Http

@if (_documents != null)
{
    <p></p>
    <p>@_documents.Count documents. @_selectedIds.Count are selected.</p>

    <table class="table table-striped">
        <thead class="thead-light">
            <tr>
                <th>&nbsp;</th>
                <th>Id</th>
                <th>Type</th>
                <th>Status</th>
                <th>Date</th>    
                <th></th>    
            </tr>
        </thead>
        <tbody>
            @foreach (var document in _documents)
            {
                if (!IsVisible(document))
                    continue;
                <tr>
                    <td>
                        <input class="custom-control-input" id="customCheck"
                               type="checkbox" 
                               disabled=@IsDocumentFinalState(@document.State)                           
                               @onchange="eventArgs => { OnCheckboxClicked(document.Id, eventArgs.Value); }" 
                        />
                    </td>
                    <td>@document.Id</td>
                    <td>@document.Type</td>
                    <td>@document.State</td>
                    <td>@document.CreationDate.ToShortDateString()</td>
                    <td>
                         <a href="@($"documentstatehistory/{document.Id}")" class="btn btn-primary border-radius: 30px alert-primary">
                            History
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <p></p>

    <div class="span2">
        <button class="btn btn-primary border-radius: 30px alert-primary" @onclick="OnApprove"> Approve </button>
            &nbsp;
        <button class="btn btn-primary border-radius: 30px alert-primary" @onclick="OnReject"> Reject </button>
    </div>
} 
else {
    <p></p>
    <p><em>...</em></p>
}

@code
{

    
}